body {
  margin: 0;
  cursor: url("./joe-juice-pointer.png"), auto;
  height: 100vh;
}

p {
  margin: 0;
}

.header {
  height: 80px;
  background-color: #f7c1d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
  font-weight: bold;
}

#joeLogo {
  height: 85%;
  margin: 10px;
}

#board {
  width: 100%;
  display: flex;
}

#board > div {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#created {
  background-color: #c1d9f7;
}

#progress {
  background-color: #f3de9a;
}

#done {
  background-color: #a6e573;
}

.order {
  background-color: white;
  border-radius: 3px;
  padding: 3px;
}

.order button {
  cursor: pointer;
}
